<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423632900833-0g4s608dnv81cruotloqk0j3um68hpsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423632900833-0g4s608dnv81cruotloqk0j3um68hpsi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>423632900833-qrqabg7l6l3imr6ottvs5def9i6a6s09.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGfjj93XUm2lKZhJMoyMEdQZ0PqNr99eY</string>
	<key>GCM_SENDER_ID</key>
	<string>423632900833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopapp</string>
	<key>PROJECT_ID</key>
	<string>singup-a9273</string>
	<key>STORAGE_BUCKET</key>
	<string>singup-a9273.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423632900833:ios:7cf345899fca66fc011da0</string>
</dict>
</plist>